* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #121212;
  }
  
  .list-group-item {
    background-color: #2b2b2b;
    border: 1px solid #000000;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 1px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .list-group-item:hover {
    transform: scale(1.02);
    border-color: #000000;
  }
  
  .list-group-item h3 {
    color: #ffffff;
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: large;
  }
  
  .list-group-item p {
    color: #aaaaaa;
    font-style: italic;
    font-size: small;
  }
  
  .list-group-item span {
    color: #ff8c00;
    font-size: 1.2em;
  }
  
  .offcanvas {
    background-color: #ffffff;
    color: #000000;
  }
  
  .offcanvas-header {
    border-bottom: 1px solid #333333;
  }
  
  .offcanvas-title {
    color: #000000;
    font-weight: bold;
  }
  
  .offcanvas-body p {
    color: #424242;
  }
  
  .offcanvas-body .dropdown-menu {
    background-color: #f1f1f1;
    border: none;
  }
  
  .dropdown-item {
    color: #000000;
    align-items: right;
  }
  
  #movieDetailsCanvas .dropdown {
    text-align: right; 
  }


  
  
  